@media screen and (max-width: 400px) {
  .container {
    min-width: 280px;
    .logo {
      font-size: 40px !important;
    }
  }
}

.container {
  font-family: "IBM Plex Sans KR", sans-serif;
  margin: auto;
  max-width: 100vw;
  height: 99vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  min-height: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // .logo {
  //   flex-grow: 2;
  //   font-size: 50px;
  //   display: flex;
  //   align-items: flex-end;
  //   justify-content: space-between;

  //   .logo__place {
  //     &::after {
  //       content: " ";
  //       padding: 5px;
  //     }
  //   }

  //   .logo__review {
  //     color: #eb5e28;
  //   }
  // }

  .logo-wrapper {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: {
      top: 20px;
    }
    .logo {
      width: 40vw;
      max-width: 300px;
      min-width: 50px;
      height: auto;
    }
  }

  .form {
    margin: {
      bottom: 56px;
    }
    width: 70vw;
    min-width: 200px;
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input--email,
    .input--password,
    .input--password-check {
      padding: {
        left: 10px;
      }
      margin: {
        bottom: 10px;
      }
      background-color: #fffcf2;
      color: #252422;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
      height: 30px;
    }

    .alert {
      margin: {
        // top: 15px;
      }
      color: #ccc5b9;
      min-height: 16px;
      text-align: center;
      font-size: 14px;
    }
  }

  .btn-wrapper {
    margin: {
      bottom: 30px;
    }
    text-align: center;
    flex-grow: 1;
    .social {
      text-align: center;
    }
  }
}

.footer {
  min-width: 280px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 10px;
}
