@media screen and (max-width: 400px) {
  .container {
    min-width: 280px;
    .logo {
      font-size: 40px !important;
    }
  }
}

.container {
  font-family: "IBM Plex Sans KR", sans-serif;
  margin: auto;
  max-width: 70vw;
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    margin: {
      top: -50px;
    }
    flex-grow: 2;
    font-size: 50px;
    display: flex;
    align-items: end;
    justify-content: space-between;

    .logo__place {
      &::after {
        content: " ";
        padding: 5px;
      }
    }

    .logo__review {
      color: #eb5e28;
    }
  }

  .alert {
    margin: {
      top: 20px;
      bottom: 20px;
    }
    color: #ccc5b9;
    height: 16px;
  }

  .form {
    margin: {
      bottom: 56px;
    }
    width: 70vw;
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .input--email,
    .input--password,
    .input--password-check {
      padding: {
        left: 10px;
      }
      margin: {
        bottom: 10px;
      }
      color: #fffcf2;
      background-color: #252422;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
      height: 30px;
    }
  }

  .btn-wrapper {
    margin: {
      bottom: 30px;
    }
    text-align: center;
    flex-grow: 1;
  }
}

.footer {
  min-width: 280px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
