@media screen and (max-width: 400px) {
  .container {
    .alert {
      margin: {
        left: auto !important;
        right: auto !important;
      }
    }
    .input {
      // margin: auto !important;
      margin-bottom: 10px !important;
    }
    .display-name-wrapper {
      margin: auto !important;
      text-align: center;
    }
    .password-wrapper {
      margin: auto !important;
      text-align: center;
    }
    .btn-wrapper {
      margin: auto !important;
      margin-top: 20px !important;
      text-align: center;
    }
  }
}

.container {
  font-family: "IBM Plex Sans KR", sans-serif;
  max-width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  .edit-profile-wrapper {
    padding: {
      top: 80px;
    }

    .edit-profile-header {
      text-align: center;
      font-size: 25px;
    }

    .form-header {
      margin: {
        top: 30px;
        bottom: 15px;
      }
      font-size: 18px;
      text-align: center;
    }

    .alert {
      margin: {
        top: 20px;
        left: 20px;
        bottom: 20px;
      }
      text-align: center;
      height: 14px;
      color: #ccc5b9;
    }

    .input {
      padding: {
        left: 10px;
      }
      margin: {
        right: 15px;
      }
      color: #fffcf2;
      background-color: #252422;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
      height: 30px;
    }

    .display-name-wrapper {
      margin: {
        top: 20px;
        left: 20px;
        bottom: 50px;
      }
    }

    .password-wrapper {
      margin: {
        top: 20px;
        left: 20px;
        bottom: 20px;
      }
    }

    .btn-wrapper {
      margin: {
        top: 20px;
        left: 20px;
        bottom: 20px;
      }
      text-align: center;
    }
  }

  .my-review-wrapper {
    padding: {
      top: 80px;
    }
    width: 70vw;
    min-width: 300px;

    .my-review-header {
      margin: {
        bottom: 50px;
      }
      text-align: center;
      font-size: 25px;
    }
  }

  .footer {
    margin: {
      top: 15px;
      bottom: 15px;
    }
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #ccc5b9;
    font-size: 14px;
  }
}
