.btn {
  padding: {
    top: 3px;
    left: 5px;
    right: 5px;
    bottom: 3px;
  }
  font-family: "IBM Plex Sans KR", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #252422;
  border: 1px solid #ccc5b9;
  border-radius: 5px;
  color: #fffcf2;
  font-size: 14px;
  white-space: nowrap;
  &:hover {
    background-color: rgb(73, 73, 73);
  }
}

.Search__search {
  margin: {
    right: 5px;
  }
  height: 30px;
}

.Search__current-pos {
  height: 30px;
}

.FindReview__filter {
  margin: {
    right: 10px;
  }
}

.NewReview__delete {
  width: 70px;
  height: 24px;
  line-height: 14px;
  margin: {
    right: 15px;
  }
}
.NewReview__submit {
  margin: {
    top: 10px;
    right: 10px;
  }
  &.disable {
    cursor: default;
    pointer-events: none;
  }
}
.Profile__display-name {
  margin: {
    top: 5px;
    bottom: 10px;
  }
  height: 30px;
}
.Profile__password {
  margin: {
    top: 5px;
  }
}
.Profile__delete-account {
  margin: {
    right: 10px;
  }
}
.Login__submit {
  margin: {
    top: 5px;
  }
}
.Login__form-change {
  margin: {
    right: 10px;
    bottom: 10px;
  }
}
.Review__delete,
.Review__edit {
  font-size: 10px;
  &.Review__edit {
    margin: {
      right: 5px;
    }
  }
}

.Search__prev,
.Search__next {
  height: 24px;
  line-height: 14px;
  margin: {
    left: 10px;
    right: 10px;
  }
}
