.container {
  font-family: "IBM Plex Sans KR", sans-serif;
  // height: calc(100vh - 200px);
  min-height: 330px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .btn-wrapper {
    margin: {
      left: 20px;
      right: 20px;
      top: 10px;
      bottom: 10px;
    }
    text-align: center;
  }

  .search-wrapper {
    margin: {
      left: 20px;
      right: 20px;
    }
    text-align: center;

    .input--search {
      padding: {
        left: 10px;
      }
      margin: {
        right: 5px;
      }
      height: 30px;
      width: 100%;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
      color: #fffcf2;
      background-color: #252422;
    }
  }
  .review__list {
    margin: {
      top: 10px;
      left: 20px;
      right: 20px;
      bottom: 20px;
    }
    border-radius: 5px;
    overflow-y: auto;
    background-color: #252422;

    .no-review {
      margin: {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
      }
      display: block;
      font-size: 16px;
      &:not(:first-child) {
        display: none;
      }
    }
  }

  .footer {
    margin: {
      bottom: 15px;
    }
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc5b9;
    font-size: 14px;
    flex-grow: 1;
    align-items: flex-end;
  }
}
