@media screen and (max-width: 550px) {
  .container {
    .address {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 90vw !important;
    height: 30vh;
    min-height: 200px;
    min-width: 300px;
  }
  #map {
    width: 100vw !important;
  }
}

.container {
  margin: {
    left: auto;
    right: auto;
  }
  display: flex;
  position: relative;
  overflow: hidden;
  width: 70vw;
  align-items: center;

  .address {
    font-family: "IBM Plex Sans KR", sans-serif;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    padding: 5px;
    background-color: rgba(37, 36, 34, 0.5);
    .address__current {
      margin-bottom: 5px;
    }
  }

  .cross {
    width: 50px;
    height: 50px;
    line-height: 55px;
    font-size: 50px;
    text-align: center;
    z-index: 99;
    position: absolute;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
}
