@media screen and (max-width: 1000px) {
  .container {
    height: 75vh !important;
    margin-top: -15vh;
    overflow: hidden;
    .address {
      margin-top: 15vh;
    }
  }
}

.container {
  position: relative;

  .address {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding: 5px;
    background-color: rgba(37, 36, 34, 0.5);
    &.marker-address {
      top: 30px;
    }
  }

  .cross {
    width: 50px;
    height: 50px;
    line-height: 55px;
    font-size: 50px;
    text-align: center;
    z-index: 99;
    position: absolute;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    top: calc(50vh - 55px);
    left: calc(35vw - 25px);
  }
}
