.container {
  height: calc(90vh - 230px);
  display: flex;
  flex-direction: column;
  width: inherit;
  min-height: 230px;
  .label {
    margin: {
      left: 15px;
      right: 15px;
      top: 15px;
      bottom: 5px;
    }
  }
  .input--store-name {
    margin: {
      left: 15px;
      right: 15px;
    }
    padding: {
      left: 10px;
    }
    color: #fffcf2;
    background-color: #252422;
    outline: none;
    border: none;
    border: 1px solid #ccc5b9;
    border-radius: 5px;
    height: 30px;
  }
  .middle-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    margin: {
      top: 20px;
    }
    .rating-wrapper {
      display: flex;
      align-items: center;
      .label {
        margin: {
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      .rating {
        margin: {
          left: 15px;
        }
      }
    }

    .attachment-wrapper {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      .label {
        margin-top: 5px;
      }
   
      .input--file {
        margin: {
          right: 15px;
        }
        padding: {
          top: 3px;
          left: 5px;
          right: 5px;
          bottom: 3px;
        }
        transition: all 0.3s;
        cursor: pointer;
        background-color: #252422;
        border: none;
        border: 1px solid #ccc5b9;
        border-radius: 5px;
        color: #fffcf2;
        font-size: 14px;
        width: 70px;
        height: 24px;
        line-height: 18px;
        text-align: center;
        &:hover {
          background-color: rgb(73, 73, 73);
        }
      }
    }
  }

  .input--memo {
    padding: {
      left: 10px;
    }
    margin: {
      left: 15px;
      right: 15px;
    }
    color: #fffcf2;
    flex-grow: 1;
    background-color: #252422;
    outline: none;
    border: none;
    border: 1px solid #ccc5b9;
    border-radius: 5px;
    max-height: 100px;
  }
  .btn-wrapper {
    text-align: right;
    margin: {
      left: 15px;
      right: 15px;
      bottom: 20px;
    }
  }
}
