.review {
  padding: {
    top: 20px;
    left: 15px;
    right: 15px;
  }
  margin: auto;
  font-family: "IBM Plex Sans KR", sans-serif;
  transition: all 0.3s;
  max-width: inherit;
  min-width: 250px;

  &.edit-mod.profile-page {
    background-color: #fffcf2;
  }

  &:not(.profile-page, .edit-mod) {
    cursor: pointer;
  }

  &:nth-child(2n) {
    background-color: #2e2c2a;
  }

  .review__header {
    margin: {
      bottom: 10px;
    }
    font-weight: 600;

    .header__title {
      margin: {
        right: 10px;
      }
      font-size: 16px;
      line-height: 20px;
    }

    .header__rating {
      white-space: nowrap;
      line-height: 20px;
    }
  }

  .review__address {
    .address__address {
      font-size: 13px;
      color: #ccc5b9;
    }
    .address__road-address {
      margin: {
        top: 3px;
        bottom: 5px;
      }
      font-size: 13px;
      color: #ccc5b9;
    }
  }

  .line {
    margin: {
      top: 20px;
      bottom: 20px;
    }
    border: 0px;
    height: 1px;
    background-color: #403d39;
  }

  .review__content {
    display: flex;
    flex-direction: column;
    .review__memo {
      margin: {
        bottom: 5px;
      }
      padding: {
        left: 10px;
        right: 10px;
      }
      white-space: pre-wrap;
      font-size: 14px;
      line-height: 20px;
      height: fit-content;
    }

    .review__photo {
      padding: {
        left: 10px;
        right: 10px;
      }
      margin: auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 300px;
    }
  }

  .review__footer {
    padding: {
      bottom: 20px;
    }

    .footer__date,
    .footer__author {
      margin: {
        right: 10px;
      }
      font-size: 12px;
      color: #ccc5b9;
    }
  }

  &.selected {
    background-color: #fffcf2;
    .review__header {
      .header__title {
        color: #252422;
      }
    }

    .line {
      background-color: #ccc5b9;
    }

    .address__address,
    .address__road-address,
    .review__memo {
      color: #403d39;
    }

    .review__footer {
      .footer__date,
      .footer__author {
        color: #403d39;
      }
    }
  }

  .creator-btn-wrapper {
    margin: {
      top: 10px;
    }
  }

  &:hover:not(.selected, .profile-page) {
    background-color: #474542;
  }
}
