.item {
  padding: {
    top: 20px;
    left: 15px;
    right: 15px;
    bottom: 20px;
  }
  &:first-child {
    border-radius: 5px 5px 0 0;
  }
  &:nth-child(2n) {
    background-color: #2e2c2a;
  }
  &:first-child {
    margin-top: 0;
  }
  font-family: "IBM Plex Sans KR", sans-serif;
  transition: all 0.3s;
  cursor: pointer;

  .item__header {
    margin: {
      bottom: 5px;
    }

    .header__place-name {
      margin: {
        right: 10px;
      }
      font-size: 16px;
    }

    .header__category {
      font-size: 12px;
      color: #ccc5b9;
    }
  }

  .item__address {
    font-size: 14px;
    color: #ccc5b9;
  }

  .item__road-address {
    margin: {
      top: 3px;
      left: 10px;
    }
    font-size: 14px;
    color: #ccc5b9;
  }

  &.selected {
    background-color: #fffcf2;

    .item__header {
      .header__place-name {
        font-weight: 700;
        color: #252422;
      }

      .header__category {
        color: #403d39;
      }
    }

    .item__address,
    .item__road-address {
      color: #403d39;
    }
  }

  &:hover:not(.selected) {
    background-color: #474542;
  }
}
