.container {
  .result {
    .result__header {
    }
    .result__error {
    }
    .result__zero {
    }
    .result__list {
      cursor: pointer;
      .result__place-name {
      }
      .result__address {
      }
      &.selected {
        color: red !important;
      }
    }
  }
  &.loading {
    display: none;
  }
}
