@media screen and (max-width: 1000px) {
  .container {
    padding: {
      top: 30px;
    }
    height: 100% !important;
    width: 90vw !important;
    min-width: none !important;
    .form {
      margin: {
        bottom: 10px;
      }
      .input--search {
        width: 100%;
      }
    }
    .result {
      margin: {
        bottom: 30px !important;
      }
    }
  }
}

.container {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #403d39;
  width: 30vw;
  height: calc(100vh - 60px);
  min-width: 300px;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  margin: auto;
  .form {
    margin: {
      left: 20px;
      right: 20px;
    }
    display: flex;

    .input--search {
      padding: {
        left: 10px;
      }
      margin: {
        top: 5px;
        right: 5px;
        bottom: 5px;
      }
      background-color: #fffcf2;
      color: #252422;
      flex-grow: 1;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
      height: 30px;
      min-width: 100px;
    }
    .btn-wrapper {
      white-space: nowrap;
      text-align: center;
      margin: {
        left: auto;
        right: auto;
        top: 5px;
      }
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    height: calc(90vh - 830px);
    justify-content: space-between;
    background-color: #252422;
    margin: 20px;
    border-radius: 5px;

    .result__error,
    .result__zero {
      margin: {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
      }
      font-size: 16px;
    }

    .result__list {
      overflow: auto;
    }

    .result__pagination {
      padding: {
        top: 5px;
        bottom: 5px;
      }
      border-top: 5px solid #403d39;
      text-align: center;

      .pagination__count {
        margin: {
          left: 5px;
          right: 5px;
        }
      }
    }
  }

  &.loading {
    * {
      pointer-events: none;
    }
  }
}
