@media screen and (max-width: 1000px) {
  .container {
    height: auto !important;
    .form {
      min-height: 400px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans KR", sans-serif;
  height: calc(100vh - 200px);
  width: 100%;
  min-height: 360px;

  &:not(.edit-mod) {
    .form {
      background-color: #fffcf2;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px;
    height: 70%;
    .header-wrapper {
      margin: {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 5px;
      }
      display: flex;
      justify-content: space-between;

      .label {
        margin: 0;
      }

      .counter {
        color: #252422;
        &.over {
          color: #eb5e28;
        }
      }
    }

    .label {
      color: #252422;
      margin: {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 5px;
      }
    }

    .input--store-name {
      margin: {
        left: 15px;
        right: 15px;
      }
      padding: {
        left: 10px;
      }
      background-color: #fffcf2;
      color: #252422;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
      height: 30px;
    }

    .middle-wrapper {
      margin: {
        top: 25px;
        bottom: 5px;
      }
      display: flex;
      align-items: center;
      justify-content: space-around;
      white-space: nowrap;

      .rating-wrapper {
        display: flex;
        align-items: center;

        .label {
          margin: {
            top: 0;
            right: 0;
            bottom: 0;
          }
        }

        .rating {
          margin: {
            left: 5px;
          }
        }
      }

      .attachment-wrapper {
        display: flex;
        justify-content: left;
        align-items: flex-start;

        .input--file {
          margin: {
            right: 15px;
          }
          padding: {
            top: 3px;
            left: 5px;
            right: 5px;
            bottom: 3px;
          }
          transition: all 0.3s;
          cursor: pointer;
          background-color: #252422;
          border: 1px solid #ccc5b9;
          border-radius: 5px;
          color: #fffcf2;
          font-size: 14px;
          width: 70px;
          height: 24px;
          line-height: 18px;
          text-align: center;
          &:hover {
            background-color: rgb(73, 73, 73);
          }
        }
      }
    }

    .input--memo {
      padding: {
        top: 10px;
        left: 10px;
        right: 10px;
      }
      margin: {
        left: 15px;
        right: 15px;
      }
      background-color: #fffcf2;
      color: #252422;
      resize: none;
      flex-grow: 1;
      outline: none;
      border: 1px solid #ccc5b9;
      border-radius: 5px;
    }

    .btn-wrapper {
      text-align: right;
      margin: {
        left: 15px;
        right: 15px;
        bottom: 20px;
      }
    }
  }

  .footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ccc5b9;
    font-size: 14px;
    flex-grow: 1;
    margin: {
      bottom: 15px;
    }
  }

  &.edit-mod {
    height: auto;
    .form {
      margin: 0;
      min-height: 400px;
      .header-wrapper {
        margin: {
          top: 0;
        }
      }
      .middle-wrapper {
        margin: {
          bottom: 25px;
        }
      }
    }
  }
}
